body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: skyblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 30px;
  
}

.search-container {
  margin: 20px;
}

.search-container input {
  padding: 10px;
  width: 100px;
}

.search-container button {
  padding: 10px;
  margin-left: 10px;
}

.weather-card {
  margin-top: 30px;
  padding: 30px;
  border: 3px solid black;
  border-radius: 20px;
  display: inline-block;
  text-align: left;
}

.error {
  color: red;
  margin-top: 100px;
}
.btn{
  border:none;
  float:right;
  color:black;
  font-size:20px;
}
